@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body {
    background-image: url(https://www.tirol-choco.com/resource/images/common/bg_body.png);
    font-family: 'Kosugi Maru', sans-serif;
    width: 100%;
    margin: 0 auto;
}

header {
    height: 100px;
    display: flex;
}

.anankosen {
    height: 50%;
    margin: 20px 20px 0 auto;
}

.anankosen img {
    height: 100%;
}

#gacha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 30px auto;
    padding-top: 30px;
}

#gacha img {
    display: block;
    width: calc(90vw / 5 - 25px);
    margin-bottom: 30px;
    padding: 50px 10px;
    text-align: center;
    /*アニメーション*/
    animation:alpha 3s;
    animation-fill-mode:forwards;
}

.news {
    margin-top: 100px;
    height: 300vh;
    background-image: url(https://www.tirol-choco.com/resource/images/common/bg_block_01.png);
}


#result_num {
    position: absolute;
    top:200px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes alpha {
    0% {
        opacity:0;
    } 100% {
        opacity:1;
    }
}